.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.members-heading {
  margin: 20px 0;
}
.margin-auto.float-none {
  margin: auto;
  float: none;
}
.mt-10 {
  margin-top: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.text-align-right {
  text-align: right;
}
.mb-50 {
  margin-bottom: 50px;
}
.img-outer {
  position: relative;
  height: 150px;
  width: 150px;
}
.img-outer img {
  position: relative;
  display: block;
  height: 125px;
  width: auto;
}
.img-outer .img-layer {
  position: relative;
  display: block;
  overflow: hidden;
}
.img-outer .img-layer svg {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.img-outer input[type="file"] {
  position: absolute;
  width: 150px;
  z-index: 2;
  height: 130px;
  top: 20px;
  left: 0;
  opacity: 0;
}
.form-group {
  position: relative;
}
.btn.btn-close.close {
  position: absolute;
  top: 30px;
  cursor: pointer;
  font-weight: 400;
  left: 180px;
}

.site-wrapper {
  display: flex;
  padding-left: 60px;
}

.site-wrapper > div:first-of-type {
  position: fixed;
  left: 0;
  width: 60px;
  height: 100vh;
  transition: all 0.5s;
  z-index: 444;
}

@media only screen and (max-width: 500px) {
  .site-wrapper > div:first-of-type.opened-in-sm {
    width: 200px;
    transition: all 0.5s;
  }

  .site-wrapper > div:first-of-type.closed-in-sm {
    width: 200px;
    transition: all 0.5s;
    left: -200px;
  }

  .site-wrapper {
    display: flex;
    padding-left: 0px;
  }
}

.site-wrapper > div:first-of-type:hover {
  width: 200px;
  transition: all 0.5s;
}

.site-wrapper > div:first-of-type > header {
  height: 100vh;
  overflow: hidden;
}

nav {
  height: 100vh;
  margin-left: -13px;
  background: #f0f0ea !important;
  padding-top: 0;
}

nav > a:first-child {
  background: #f7cf02;
  color: black;
}

nav > a:first-child:hover {
  background: #f7cf02;
}

nav > a > div > span {
  color: #848381 !important;
}

nav > a:first-child > div > span {
  color: black !important;
}
/* nav > a > div > img,
nav > a > div > span {
  opacity: 0.7;
}

/* nav > a:hover {
  background: rgba(255, 255, 255, 0.1) !important;
} 

nav > a:hover > div > img,
nav > a:hover > div > span {
  opacity: 0.9;
} */

.overlay {
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.burger-menu-symbol {
  width: 30px;
  height: 20px;
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
}

.burger-menu-symbol .line {
  height: 4px;
  background: black;
}

a.selected-nav {
  position: relative;
}

a.selected-nav:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background: black;
  left: 13px;
}

a.selected-nav,
a.selected-nav:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

a.selected-nav span {
  color: black !important;
  opacity: 1;
}

a.selected-nav img {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(-49%) contrast(119%);
  opacity: 1;
}

a.selected-nav img {
  opacity: 1;
}

hr {
  color: white;
  background: #848381;
  opacity: 0.2;
  margin: 0;
}
/* Project page */

.project-avatar {
  height: 60px;
  width: 60px;
}

.social-media-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 20px;
}

.social-media-list .social-media-item {
  margin: 5px;
}

.card-controller {
  border-radius: 50%;
  border: 1px solid grey;
  background: transparent;
  color: grey;
  cursor: pointer;
  padding: 1px 8px;
  margin: 0 5px;
  position: relative;
}

.card-controller:hover {
  border: 1px solid black;
  color: black;
}

.carousel {
  padding: 0 60px;
  max-width: 100%;
  margin-top: 20px;
  align-self: flex-start;
}

.card-wrapper {
  text-align: center;
  padding-top: 20px;
  border: 1px solid black;
}

.card-wrapper-clickable {
  cursor: pointer;
}

.card-image {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-image-round {
  border-radius: 50%;
}

.normal-cards-view {
  padding-left: 60px;
  padding-right: 60px;
  align-self: flex-start;
  margin-top: 30px;
  width: 100%;
}

.normal-cards-view > div {
  display: flex;
  justify-content: space-between;
}

.close-modal-button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
